@font-face {
    font-family: 'upheavtt';
    src: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/Font/upheavtt.ttf');
    font-weight: normal;
    font-style: normal;
}

/*****************
	æ—‹è½¬ç•Œé¢
******************/
#rotate-box {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(//24haowan-cdn.shanyougame.com/public/images/t/ratio.png) no-repeat center center;
    background-color: #353535;
    background-size: contain;
    display: box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 10000;
    box-sizing: border-box;
}

/*****************
	èƒŒæ™¯
******************/
#just-rolling-bg {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
/*     background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/JustRolling/assets/images/FloorPinkBg.png');  */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #353535;
    background-size: cover;
    z-index: 0;
}

/*****************
	åŠé€æ˜Žåº•é®ç½©
******************/
#bg-overlay {
    position: absolute;
    z-index: 1900;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}


