/*****************
	æç¤ºä¿¡æ¯
******************/
#hint-text-container {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

#hint-text-container * {
    box-sizing: border-box;
}

#hint-text-container #hint-text-bg {
    width: 100%;
    height: 0.35rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
}

#hint-text-container #hint-text {
    font-size: 0.14rem;
    color: #fff;
    font-family: 'upheavtt', 'Microsoft Yahei', 'Helvetica', 'arial', 'sans-serif';
    text-align: center;
    height: 0.35rem;
    line-height: 0.35rem;
}