
#setting-wrap {
    width: 3.25rem;
    height: 2.94rem;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/settingAlert.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    top:1.07rem;
    padding-top: 1.37rem;
    position: relative;
    box-sizing: border-box;
    z-index:2222;
    display:none;
}

#setting-wrap *{
    box-sizing: border-box;
}

#setting-wrap .music,
#setting-wrap .performence {
    height: 0.32rem;
    padding-left: 0.45rem;
    padding-right: 0.57rem;
}

#setting-wrap .music-show {
    width: 0.77rem;
    height: 100%;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/music.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}

#setting-wrap .music-btn {
    width: 0.82rem;
    height: 100%;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/ON.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
}

#setting-wrap .line {
    margin: 0.16rem 0.35rem;
    height: 0.02rem;
    background-color: #d5f2ee;
}

#setting-wrap .performence-show {
    width: 0.77rem;
    height: 100%;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/performence.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}

#setting-wrap .performence-btn {
    width: 0.82rem;
    height: 100%;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/ON.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
}

#setting-wrap .btn-close {
    position: absolute;
    top: 0.46rem;
    right: 0.1rem;
    width: 0.4rem;
    height: 0.4rem;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/setting/closeBtn2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#setting-wrap .setting-text{
    color:white;
    position: absolute;
    top: 0.55rem;
    font-size: 0.20rem;
    left: 50%;
    transform: translateX(-50%);
}

#setting-wrap .performence-tip{
    font-size: 0.14rem;
    color:#c2c2c2;
    margin-top: 0.07rem;
    margin-left: 0.25rem;
}
