@charset "UTF-8";

#message-container {
  display:none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 0.14rem;
  position: absolute;
  top:0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}

#message-container li {
  list-style: none;
}

#message-container .close-btn {
  position: fixed;
  top: 0.1rem;
  right: 0.05rem;
  height: 0.43rem;
  width: 0.43rem;
  z-index: 1;
}

#message-container header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0.62rem;
  list-style: none;
  padding: 0.11rem 0.64rem 0.09rem;
  background-color: #2ebfac;
}

#message-container header div {
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #fff;
  line-height: 0.44rem;
  font-size: 0.18rem;
  display: inline-block;
}

#message-container header .rule-btn {
  background-position: right;
  text-indent: 0.1rem;
}

#message-container header .message-btn {
  background-position: left;
  text-indent: -0.1rem;
    position:relative;
}

#message-container header .message-red{
    display:none;
    width:0.12rem;
    height:0.12rem;
    position:absolute;
    right:0.12rem;
    top:0.04rem;
    background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#message-container header .rule-btn-config1 {
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/leftBtn1.png");
  color: #0ec8b0;
}

#message-container header .rule-btn-config2 {
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/leftBtn2.png");
  color: #fff;
}

#message-container header .message-btn-config1 {
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/rightBtn1.png");
  color: #0ec8b0;
}

#message-container header .message-btn-config2 {
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/rightBtn2.png");
  color: #fff;
}

#message-container .rule-container {
  margin-top: 0.92rem;
}

#message-container .rule-container p {
  margin: 0;
}

#message-container .rule-container .title {
  color: #2ebfac;
  font-size: 0.2rem;
  padding-left: 0.35rem;
  margin-bottom: 0.15rem;
}

#message-container .rule-container .description {
  color: #b3b3b3;
  padding-left: 0.52rem;
  padding-right: 0.5rem;
  line-height: 0.18rem;
}

#message-container .rule-container .line {
  background-color: #d7f2ef;
  height: 1px;
  margin: 0.15rem;
}

#message-container .rule-container .QR-code {
  height: 1.28rem;
  width: 1.28rem;
  margin: 0.2rem auto 0;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/code.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#message-container .message-container {
  display: none;
  margin-top: 0.62rem;
}

#message-container .message-container .message-banner {
  height: 0.55rem;
  border-bottom: 1px solid #c0ece6;
  width: 100%;
  color: #21beaa;
  font-size: 0.16rem;
}

#message-container .message-container .message-banner p {
  display: inline-block;
  margin: 0;
  padding-left: 0.33rem;
  line-height: 0.55rem;
}

#message-container .message-container .message-banner p span {
  margin: 0 0.1rem;
  font-family: 'upheavtt';
}

#message-container .message-container .message-banner .empty-message {
  width: 0.6rem;
  height: 0.3rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/empty-message.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  float: right;
  line-height: 0.32rem;
  margin-top: 0.12rem;
  margin-right: 0.13rem;
}

#message-container .message-container .empty-show {
  display: none;
  margin: 0.7rem auto 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/tips.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

#message-container .message-container .empty-show .text {
  color: #b3b3b3;
  width: 2rem;
  position: absolute;
  top: 1.3rem;
  left: -0.15rem;
}

#message-container .message-container .message-show{
    overflow-y:auto;
    position:absolute;
    width:100%;
    top:1.17rem;
    bottom:0;
}

#message-container .message-container .message-show .message-list {
  height: 0.75rem;
  border-bottom: 1px solid #c0ece6;
  margin: 0 0.12rem;
  padding-left: 0.1rem;
}

#message-container .message-container .message-show .message-list > * {
  vertical-align: top;
}

#message-container .message-container .message-show .message-list .message-icon {
  width: 0.46rem;
  height: 0.33rem;
  margin-top: 0.2rem;
  display: inline-block;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/message-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#message-container .message-container .message-show .message-list .message-summary {
  display: inline-block;
  width: 2.1rem;
  height: 100%;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

#message-container .message-container .message-show .message-list .message-summary p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#message-container .message-container .message-show .message-list .message-summary .summary-title {
  margin-top: 0.18rem;
  margin-bottom: 0.1rem;
  color: #00bca7;
  font-size: 0.18rem;
}

#message-container .message-container .message-show .message-list .message-summary .summary-description {
  color: #bbbbbb;
}

#message-container .message-container .message-show .message-list .message-delete {
  display: inline-block;
  width: 0.33rem;
  height: 0.36rem;
  margin-top: 0.2rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/message-delete.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#message-container .message-container .message-detail {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #fff;
}

#message-container .message-container .message-detail .detail-title {
  font-size: 0.2rem;
  color: #fff;
  background-color: #2ebfac;
  height: 0.64rem;
  width: 100%;
  line-height: 0.64rem;
  text-align: center;
  position: relative;
}

#message-container .message-container .message-detail .detail-title .detail-back {
  position: absolute;
  left: 0.15rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/back.png");
  background-repeat: no-repeat;
  width: 0.4rem;
  height: 0.3rem;
  background-size: contain;
}

#message-container .message-container .message-detail .detail-description {
  color: #b3b3b3;
  font-size: 0.18rem;
  margin: 0;
  margin-top: 0.26rem;
  margin-bottom: 0.3rem;
  margin-left: 0.44rem;
  margin-right: 0.6rem;
  line-height: 0.26rem;
}

#message-container .message-container .message-detail .win-img {
  height: 0.91rem;
  width: 1.16rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/lose-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  transform: translateX(-0.1rem);
}

#message-container .message-container .message-detail .win-content {
  margin-top: 0.06rem;
  height: 0.57rem;
  width: 100%;
  background-color: #43c6b4;
  position: absolute;
}

#message-container .message-container .message-detail .win-content .vs-img {
  width: 0.68rem;
  height: 0.3rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/vs.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.14rem auto 0;
}

#message-container .message-container .message-detail .win-content > span {
  position: absolute;
  color: #565656;
  text-align: center;
  top: -0.27rem;
  width: 1rem;
}

#message-container .message-container .message-detail .win-content > span .role-img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.04rem solid #fff;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/role.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.1rem auto 0.16rem;
}

#message-container .message-container .message-detail .win-content > span .role-name {
  width: 1rem;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#message-container .message-container .message-detail .win-content > span .role-score {
  width: 1rem;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#message-container .message-container .message-detail .win-content .left-content {
  left: 0.25rem;
}

#message-container .message-container .message-detail .win-content .right-content {
  right: 0.25rem;
}

#message-container .message-container .message-mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0,0,0,0.3);
}

#message-container .message-container .message-sure {
  display: none;
  width: 3.13rem;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  top: 2rem;
  left: 0.33rem;
  border-radius: 0.06rem;
  z-index: 12;
}

#message-container .message-container .sure-one{
    display:none;
}

#message-container .message-container .sure-all{
    display:none;
}

#message-container .message-container .message-sure p {
  margin: 0;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  color: #00baa5;
  font-size: 0.18rem;
  text-align: center;
}

#message-container .message-container .message-sure .sure-btn {
  width: 1.33rem;
  height: 0.5rem;
  background-color: #2ebfac;
  margin: 0 auto;
  color: #fff;
  line-height: 0.52rem;
  font-size: 0.18rem;
  text-align: center;
  border-radius: 0.06rem;
}

#message-container .message-container .message-sure .sure-close-btn {
  width: 0.45rem;
  height: 0.45rem;
  background-image: url("http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/message/closeBtn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: -0.1rem;
  top: -0.15rem;
}

#message-container * {
  box-sizing: border-box;
}
