/*****************
    æŽ’è¡Œæ¦œ
******************/
#ranking-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 0.14rem;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index:9999;
}

#ranking-container * {
    box-sizing: border-box;
}

#ranking-container ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.62rem;
    list-style: none;
    background-color: #ffffff;
    padding: 0.11rem 0.64rem 0.09rem;
    background-color: #0ec8b0;
}

#ranking-container .friend-btn {
    text-indent: 0.1rem;
    background-position: right;
}

#ranking-container .friend-btn1 {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/leftBtn1.png');
    color: #0ec8b0;
}

#ranking-container .friend-btn2 {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/leftBtn2.png');
    color: #fff;
}

#ranking-container .world-btn1 {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/rightBtn1.png');
    color: #0ec8b0;
}

#ranking-container .world-btn2 {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/rightBtn2.png');
    color: #fff;
}

#ranking-container .world-btn {
    background-position: left;
    text-indent: -0.1rem;
}

#ranking-container li {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #fd7675;
    line-height: 0.44rem;
    font-size: 0.16rem;
    /*transition: 0.3s all;*/
}

#ranking-container p {
    margin: 0;
}

#ranking-container .fl {
    float: left;
}

#ranking-container .fr {
    float: right;
}

#ranking-container .friend-banner,
#ranking-container .world-banner {
    height: 0.48rem;
    color: #0dc7ae;
    font-size: 0.16rem;
    line-height: 0.48rem;
    padding: 0 0.1rem;
    position: fixed;
    left: 0;
    top: 0.62rem;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    border-bottom: 2px solid #d8f5f1;
    background-color:#fff;
}

#ranking-container .number-padding {
    padding: 0 0.05rem;
    font-family: 'upheavtt';
    font-size: 0.24rem;
    letter-spacing: 0.02rem;
}

#ranking-container .list-number {
    font-weight: bold;
    margin-right: 0.13rem;
    font-family: 'upheavtt';
    color: #26beab;
    width: 0.1rem;
    text-align: left;
    letter-spacing: 1px;
}

#ranking-container .list-score{
    width: 0.24rem;
}

#ranking-container .challenge {
    margin-left: 0.12rem;
    width: 0.6rem;
    height: 0.3rem;
    color: #fff;
    line-height: 0.32rem;
    text-align: center;
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/btn-bg.png');
    background-size: 0.6rem 0.3rem;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0.14rem;
    float: right;
    margin-top: 0.2rem;
}

#ranking-container .head-bg {
    width: 0.65rem;
    height: 0.65rem;
    margin-right: 0.1rem;
    margin-top: -0.08rem;
    background-size: 0.58rem;
    background-repeat: no-repeat;
    background-position: center center;
}

#ranking-container .ranking-list .list-img {
    vertical-align: top;
    margin-top: 0.09rem;
    margin-left: 0.09rem;
    width: 0.54rem;
    height: 0.54rem;
    border-radius: 50%;
}

#ranking-container .ranking-list div:nth-of-type(n+4) img {
    border: 2px solid #9de1d8;
}

#ranking-container .list-name {
    margin-right: 0.08rem;
    width: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 0.7rem;
}

#ranking-container .ranking-list {
    font-size: 0.16rem;
    color: #565656;
}

#ranking-container .ranking-list>div {
    height: 0.75rem;
    border-bottom: 1px solid #d9f3ef;
    line-height: 0.75rem;
    padding-left: 0.26rem;
}

#ranking-container .ranking-list>div * {
    display: inline-block;
    vertical-align: middle;
}

#ranking-container .close-btn {
    position: fixed;
    top: 0.1rem;
    right: 0.05rem;
    height: 0.43rem;
    width: 0.43rem;
    z-index: 999;
}

#ranking-container .invite-friend {
    background-color: #2ebfac;
    height: 0.43rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 0.43rem;
    font-size: 0.16rem;
}

#ranking-container .ranking-list div:nth-of-type(1) .head-bg {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/gold.png');
    background-size: 0.65rem;
}

#ranking-container .ranking-list div:nth-of-type(2) .head-bg {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/silver.png');
    background-size: 0.65rem;
}

#ranking-container .ranking-list div:nth-of-type(3) .head-bg {
    background-image: url('http://24haowan-cdn.shanyougame.com/PlayCanvas/CommonUI/ranking3.0/copper.png');
    background-size: 0.65rem;
}

#ranking-container .world-container,
#ranking-container .friend-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -0.17rem;
    padding-left: 0.13rem;
    padding-right: 0.3rem;
    margin-top: 1.1rem;
    overflow-y: auto;
    background-color: #ffffff;
}

#ranking-container .friend-container {
    margin-bottom: 0.43rem;
}

#ranking-container .world-container {
    display: none;
}

#ranking-container .world-banner {
    display: none;
}
